src/main/resources/user-schema.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:integer" name="id" minOccurs="0"/>
                <xs:element type="xs:string" name="name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>